.styles-margin{
  margin: 2px;
}

.styles-button-margin{
  margin-right: 8px;
}

.styles-div-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.styles-logo-img {
  max-height: 80px;
  margin-top: -20px;
  margin-left: -20px;
}

.styles-div-note-view {
  display:inline-block;
  border: solid 1px #d0d0d0;
  width: 100%;
  white-space: pre-wrap;
}