.styles-main{
  margin-top: 6px;
  margin-bottom: 6px;
}

.styles-margin{
  margin: 2px;
}

.styles-button-margin{
  margin-right: 8px;
}

.styles-div-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.styles-logo-img {
  max-height: 80px;
  margin-top: -10px;
  margin-left: -10px;
}

.styles-div-note-view {
  display:inline-block;
  border: solid 1px #d0d0d0;
  width: 100%;
  white-space: pre-wrap;
  resize: none;
}

.styles-header-button {
  min-width: 80px;
}

.styles-username-text {
  font-size: x-small;
  letter-spacing: 0px;
  margin: 4px;
  vertical-align: middle;
}

.styles-intro-txt-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styles-banner-img {
  width: 100%;
}

table, th, tr, td {
  border: 1px solid black;
  padding: 2px
}